{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'sharefiles/css/folder.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/spinner.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/progress.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'sharefiles/js/view_files.js' %}"></script>
<script src="{% static 'sharefiles/js/md5.js' %}"></script>
<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
  integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
  crossorigin="anonymous"
/>

{% comment %}
<script src="{% static 'sharefiles/js/folder.js' %}"></script>
{% endcomment %}
<script src="{% static 'sharefiles/js/script.js' %}"></script>

<h1 id="folder-name"><span></span></h1>
<button id="go-back-btn">Back</button>
<button id="upload-btn">Upload</button>
{% comment %} upload file button {% endcomment %}
<div id="upload-file">
  <input type="file" id="file" />
  <p>Drag your files here or click in this area.</p>
  <button type="submit" id="cancel-upload-btn">Cancel</button>
  <button type="submit" onclick="handleUpload()" id="confirm-upload-btn">
    Upload
  </button>
</div>
{% comment %} preloader {% endcomment %}
<div id="preloader">
  <div id="spinner"></div>
  <span id="loading-msg"></span>
</div>
{% comment %} upload progress bar {% endcomment %}
<div id="FileUpload">
  <div id="upload-wrapper"></div>
</div>
{% comment %} main element {% endcomment %}
<ul id="file-list">
  <!-- Folders will be appended here dynamically -->
</ul>

<div class="wrapper">
  <div class="content">
    <ul class="menu">
      <li class="item" id="preview-file">
        <i class="material-icons">preview</i>
        <span>Preview</span>
      </li>
      <li class="item" id="delete-file">
        <i class="material-icons">delete</i>
        <span>Delete</span>
      </li>
    </ul>
  </div>
</div>
</div>


{% comment %} confirm dialog for Delete {% endcomment %}
<div class="confirm-delete testbox" style="display: none">
  <h2>Confirm Delete</h2>
  <hr />
  <p>
    Are you sure you want to delete file <span id="delete-file-name"></span>?
  </p>
  <button type="button" class="cancel-delete">Cancel</button>
  <button class="confirm-delete-btn">Delete</button>
</div>

{% endblock %}
