<!-- templates/folder_list.html -->
{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'sharefiles/css/folder.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/styles.css' %}" />
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="{% static 'sharefiles/js/script.js' %}"></script>
<script src="{% static 'sharefiles/js/folder.js' %}"></script>
<link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/>

<h1>Working Folders</h1>
<ul id="folder-list"></ul>
<button id="create-folder-btn">Create Folder</button>

<div id="create-folder-modal" style="display: none">
  <h2>Create Folder</h2>
  <hr />
  <div id="create-folder-form">
    <label for="folder-name">Folder Name </label>
    <input type="text" id="folder-name" required />
  </div>
  <button type="button" id="cancel-folder">Cancel</button>
  <button id="submit-folder">Create</button>
</div>

<div class="wrapper">
  <div class="content">
    <ul class="menu">
      <li class="item" id="delete-folder">
        <i class="material-icons">delete</i>
        <span>Delete</span>
      </li>
    </ul>
  </div>
</div>
</div>

{% comment %} confirm dialog for Delete {% endcomment %}
<div class="confirm-delete testbox" style="display: none">
  <h2>Confirm Delete</h2>
  <hr />
  <p>Are you sure you want to delete folder <span id="delete-folder-name"></span>?</p>
  <button type="button" class="cancel-delete">Cancel</button>
  <button id="confirm-delete-btn" class="confirm-delete-btn">Delete</button>
</div>
{% endblock %}
