<!-- templates/folder_list.html -->
{% extends 'base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'sharefiles/css/folder.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/styles.css' %}" />
<link rel="stylesheet" href="{% static 'sharefiles/css/content_menu.css' %}" />
<script src="{% static 'access/js/jquery.js' %}"></script>
<script src="{% static 'sharefiles/js/script.js' %}"></script>
<script src="{% static 'sharefiles/js/folder.js' %}"></script>
{% comment %} <link
  rel="stylesheet"
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
/> {% endcomment %}

<h1>Working Folders</h1>
<ul id="folder-list"></ul>
<button id="create-folder-btn">Create Folder</button>

<div id="create-folder-modal" style="display: none">
  <h2>Create Folder</h2>
  <hr />
  <div id="create-folder-form">
    <label for="folder-name">Folder Name </label>
    <input type="text" id="folder-name" required />
  </div>
  <button type="button" id="cancel-folder">Cancel</button>
  <button id="submit-folder">Create</button>
</div>

<div class="wrapper">
  <div class="content">
    <ul class="menu">
      <li class="item" id="delete-folder">
        <span class="material-icons w3-xlarge">delete</span>
        <span>Delete</span>
      </li>
      <li class="item" id="rename-folder">
        <span class="material-icons w3-xlarge">edit</span>
        <span>Rename</span>
    </ul>
  </div>
</div>
</div>

{% comment %} confirm dialog for Delete {% endcomment %}
<div class="confirm-delete testbox center_box" style="display: none">
  <h2>Confirm Delete</h2>
  <hr />
  <p>Are you sure you want to delete folder <span id="delete-folder-name"></span>?</p>
  <button type="button" class="cancel-delete">Cancel</button>
  <button id="confirm-delete-btn" class="confirm-delete-btn">Delete</button>
</div>

{% comment %} confirm dialog for Rename {% endcomment %}
<div id="rename-folder-modal" class="confirm-delete testbox center_box" style="display: none">
  <h2>Rename Folder</h2>
  <hr />
  <div id="rename-folder-form">
    <label for="new-folder-name">New Name</label>
    <input type="text" id="new-folder-name" required />
  </div>
  <button id="cancel-rename-btn" class="cancel-rename">Cancel</button>
  <button id="confirm-rename-folder" class="confirm-rename-folder">Rename</button>
</div>
{% endblock %}
