[submodule "apps/surgery/libs/oad"]
	path = apps/surgery/libs/oad
	url = https://github.com/LStriving/E2E-LOAD.git
[submodule "apps/surgery/libs/seg"]
	path = apps/surgery/libs/seg
	url = https://github.com/LStriving/pidnet.git
