.wrapper{
    visibility: hidden;
    position: absolute;
    width: 160px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0 12px 35px rgba(0,0,0,0.1);
    transition-duration: 0ms;
    z-index: 20000;
}
.wrapper .menu{
    padding: 10px 12px;
    transition-duration: 0ms;
    margin: 0;
}
.content .item{
    list-style: none;
    font-size: 16px;
    height: 30px;
    display: flex;
    width: 100%;
    cursor: pointer;
    align-items: center;
    border-radius: 5px;
    margin-bottom: 2px;
    transition-duration: 0ms;
}
.content .item:hover{
    background: #f2f2f2;
    transition-duration: 0ms;
}
.content .item span{
    margin-left: 4px;
    font-size: 13px;
    transition-duration: 0ms;
}