{% extends './surgery_base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'surgery/css/style.css' %}" />

<header class="bgimg w3-display-container" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size: 90px"
      >Intraoperative<br />Navigation</span
    >
    <div class="center" style="display: flex; align-item: center">
      <div class="content">
        <div id="homepage-btns">
          <a class="btn" href="/surgery/monitor-demo">View Demos</a>
          <a class="btn" href="/easyshare/folder_list">Upload Videos</a>
        </div>
      </div>
    </div>
  </div>
</header>

{% comment %} first grid {% endcomment %}
<div class="grid w3-light-grey">
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>房角切开术导航系统</h1>
      <div class="w3-twothird">
        <p class="w3-text-grey">
          房角切开术（Goniotomy，GT）是一种微创青光眼手术（minimally invasive
          glaucoma surgery, MIGS），通过切除小梁网（trabecular meshwork,
          TM）和施氏管（Schlemm’s
          canal）内壁，减少流出阻力，促进水液排出。目前120°
          GT已被证明能够充分治疗开角型青光眼。在120°GT手术中，用精细的微钩切开TM——即“房角切开”的步骤，是最关键和复杂的阶段，准确定位TM尤其重要，对TM辨识不清会严重影响预后。然而，将TM作为GT手术的解剖焦点具有挑战性,由于前房角的解剖结构错综复杂，而且个体形态变化很大，即使是非青光眼的眼科专家也较难快速识别。因此，在以GT为首的一系列抗青光眼手术中，提供由术中专家动作驱动的、实时精确的指导，在提高手术安全性和积极影响患者预后方面具有重要的临床价值。
        </p>
        <h5 class="w3-padding-32">
          为了解诀这个问题，我们推出了一种用于微创青光眼手术实时引导的开创性工具——基于深度学习的房角切开术导航系统（goniotomy
          navigation system,
          GNS），用于评估基于深度学习的在原发性开角型青光眼患者的120°
          GT手术中提供实时术中引导的性能。
          在纳入了来自三个医疗中心的总计498.6万帧的不同专家手术视频数据的基础上，此研究划定了的精确的手术步骤识别注释协议，完成大样本的视频数据精细标注，构建120°
          GT手术的优质数据集。该系统能够分析120°
          GT的视频流输入（在此网页中分析仅针对完整手术视频），实时识别正在进行的步骤（任务一），并跟踪和识别关键手术器械和解剖结构（任务二）。在实时手术室中，可根据不同手术步骤提供以行动为导向的术中手术参考和音频提示，同时跟踪关键器械和解剖结构。该系统的实施有可能促进手术的决策，并降低手术误伤的风险，有望成为提高手术精度和效率，促进审慎判断，帮助及时决策，并尽可能降低意外伤害风险。
        </h5>
      </div>
      <div class="w3-third w3-center">
        <img
          src="/static/surgery/img/onsurgery2.png"
          class="w3-image w3-round-xlarge w3-margin-left w3-margin-top"
          style="width: 120%"
        />
      </div>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1>任务介绍</h1>
    <div class="w3-twothird w3-center">
      <img
        src="/static/surgery/img/framework.png"
        class="w3-image"
        style="width: 120%; margin-top: 116px; margin-left: -30px"
      />
    </div>
    <div class="w3-third">
      <h5 class="w3-padding-32">
        在任务一中，我们将GT划分为八个可辨认的阶段：角膜切开、卡巴胆碱注射、眼科手术黏弹性辅助剂（ophthalmic
        viscoelastic devices,
        OVD）注射、房角镜下观察、GT、OVD冲洗/抽吸、切口关闭和中间穿插的空闲阶段。
      </h5>
      <h5 class="w3-padding-32">
        在任务二中，GNS实现了实时识别的解剖结构有：角膜缘、虹膜、小梁网。
        GNS能够实时识别的器械包括：有齿镊、角膜切开刀（15度、3.2mm）、冲洗针头、I/A手柄（Irrigation/Aspiration
        handpiece ）、房角镜、Kahook双刃刀（Kahook Dual Blade, KDB，New World
        Medical，Rancho Cucamonga，CA）和TMH显微钩（Tanito microhook, TMH，Inami
        & Co，Ltd，Tokyo，Japan）。
      </h5>
    </div>
    <p class="w3-text-grey">
      注意，由于此系统训练数据集未纳入白内障手术的相关步骤和器械标注，因此GNS对于白内障手术步骤效果将明显下降，乃至有判断错误的可能。
    </p>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-light-grey">
  <div class="w3-content">
    <div class="w3-center">
      <h1 style="margin-left: -40px; margin-right: 40px">步骤示意</h1>
      <img
        src="/static/surgery/img/phase.png"
        class="w3-image"
        style="width: 68%"
      />
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-opacity w3-black">
  <div class="w3-content">
    <div class="w3-third">
      <div class="w3-container" id="contact">
        <h2>Contact</h2>
        <p>If you have any questions, do not hesitate to ask them.</p>
        <i class="fa fa-question-circle w3-text-blue" style="width: 30px"></i>
        More relevent questions / content<br />
        <i class="fa fa-envelope w3-text-blue" style="width: 30px"> </i> Email:
        zhangyh95@mail2.sysu.edu.cn<br /><br />
        <i class="fa fa-bug w3-text-blue" style="width: 30px"></i> Advice / Bug
        report for the website<br />
        <i class="fa fa-envelope w3-text-blue" style="width: 30px"> </i> Email:
        se_liyirui@mail.scut.edu.cn<br />
      </div>
    </div>
    <div class="w3-third">
      <h2>Survey</h2>
      <p>
        Give us
        <a href="https://www.wjx.cn/vm/OKVeZqH.aspx#" target="_blank"
          >your feedback </a
        >about the system and the website.
      </p>
      <div class="w3-left">
        <img
          src="/static/surgery/img/survey.jpg"
          class="w3-image"
          style="width: 50%"
        />
      </div>
    </div>
    <div class="w3-third">
      <h2>Quick Link</h2>
      <div style="margin-left: 20px">
        <a href="/surgery/monitor-demo">Demo </a><br />
        <a href="/surgery/tasks">Task </a><br />
        <a href="/easyshare/folder_list">Work Directory </a><br />

        <div>
          <a href="#" class="w3-button w3-grey w3-center w3-margin-top">
            return to top
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
