{% extends './surgery_base.html' %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'surgery/css/style.css' %}" />

<header class="bgimg w3-display-container" id="home">
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size: 50px"
      >Intraoperative Navigation System for Minimally Invasive Glaucoma
      Surgery</span
    >
    <div class="center" style="display: flex; align-item: center">
      <div class="content">
        <div id="homepage-btns">
          <a class="btn" href="/surgery/monitor-demo">View Demos</a>
          <a class="btn" href="/easyshare/folder_list">Upload Videos</a>
        </div>
      </div>
    </div>
  </div>
</header>

{% comment %} first grid {% endcomment %}
<div class="grid w3-light-grey">
  <div class="w3-row-padding w3-padding-64 w3-container">
    <div class="w3-content">
      <h1>120 degree Goniotomy Navigation System (GNS)</h1>
      <div class="w3-padding-32">
        <div class="w3-twothird">
          <h5 style="text-align: justify">
            The integration of computer-assisted technology to assist the
            surgeons seamlessly remains a critical challenge. Addressing this,
            we present the deep learning (DL) based goniotomy navigation system
            (GNS), a pioneering tool for <strong> real-time guidance</strong> in
            minimally invasive glaucoma surgery.
          </h5>
          <h5 class="w3-padding-32" style="text-align: justify">
            Trained on a substantial dataset comprising
            <strong>5 million</strong> frames from 186 anonymized videos from
            three medical institutions, the GNS is designed to complete two
            critical tasks:
            <i>identifying 8 surgical phases of goniotomy (Task I)</i>, and
            <i
              >tracking 10 different key instruments and anatomical structures
              (Task II)</i
            >. Each video was annotated by three independent ophthalmologists.
            The agreement between the audio alert outputs agreed upon by the
            expert panel and those predicted by the GNS was assessed utilizing
            ICC. The acceptability and usefulness of the GNS was assessed
            through post hoc survey collected from 12 glaucoma surgeons at
            varying expertise levels.
          </h5>
        </div>

        <div class="w3-third w3-center">
          <img
            src="/static/surgery/img/onsurgery2.png"
            class="w3-image w3-round-xlarge w3-margin-left w3-margin-top w3-margin-bottom"
            style="width: 100%"
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Second Grid -->
<div class="w3-row-padding w3-padding-64 w3-container">
  <div class="w3-content">
    <h1>Algorithm Architecture</h1>
    <div class="w3-twothird w3-center">
      <img
        src="/static/surgery/img/framework.png"
        class="w3-image"
        style="width: 120%; margin-top: 116px; margin-left: -30px"
      />
    </div>
    <div class="w3-third">
      <h5 class="w3-padding-32" style="text-align: justify">
        For Task I, we employed a Transformer-based method named
        <strong
          >End-to-End Long-form Online Action Detection (E2E-LOAD)
        </strong>
        network for its superior performance and code availability. In line with
        contemporary experimental protocols, we sampled frames from videos at a
        frequency of 24 frames per second (FPS) and structured the video into
        chunks of 6 frames. Decision-making occurred at the chunk level,
        allowing evaluation of surgical steps every 0.25 seconds.
      </h5>
      <h5 class="w3-padding-32" style="text-align: justify">
        In Task II, we employed the state-of-the-art real-time semantic
        segmentation network known as
        <strong>
          Proportional-Integral-Derivative (PID) Controller Network (PIDNet) </strong
        >. The input image was resized to 1536×1024 pixels during training, and
        model evaluation was conducted at the original resolution of 1920×1080
        pixels.
      </h5>
    </div>
  </div>
</div>

<!-- Third Grid -->
<div class="w3-row-padding w3-padding-64 w3-container w3-light-grey">
  <div class="w3-content">
    <div class="w3-third">
      <h1 style="margin-left: -40px; margin-right: 40px">Task Setting</h1></br>
      <strong>8 Phases for Task I</strong>
      <ul>
        <li>Corneal incision by 3.2 mm keratome</li>
        <li>Corneal incision by 15-degree</li>
        <li>keratome Carbachol injection </li>
        <li>OVD injection Gonioscopy observation</li>
        <li>Incision of Schlemm's canal </li>
        <li>OVD removal </li>
        <li>Wound closure </li>
        <li>Other</li>
      </ul>
      <strong>10 Key instruments and anatomical structures</strong></br>
      <i>Structure</i>
      <ul>
        <li>Cornea limbus</li>
        <li>Iris</li>
        <li>Trabecular Meshwork</li>
      </ul>
      <i>Instrument</i>
      <ul>
        <li>Toothed Microforceps</li>
        <li>Keratome</li>
        <li>Irrigation cannula</li>
        <li>I/A handpiece</li>
        <li>Gonioscope</li>
        <li>KDB</li>
        <li>TMH</li>
      </ul>

    </div>
    <div class="w3-twothird">
        <img
          src="/static/surgery/img/phase.png"
          class="w3-image"
          style="width: 100%"
        />
      </li>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-padding-64 w3-opacity w3-black">
  <div class="w3-content">
    <div class="w3-third">
      <div class="w3-container" id="contact">
        <h2>Contact</h2>
        <p>If you have any questions, do not hesitate to ask them.</p>
        <i class="fa fa-question-circle w3-text-blue" style="width: 30px"></i>
        More relevent questions / content<br />
        <i class="fa fa-envelope w3-text-blue" style="width: 30px"> </i> Email:
        zhangyh95@mail2.sysu.edu.cn<br /><br />
        <i class="fa fa-bug w3-text-blue" style="width: 30px"></i> Advice / Bug
        report for the website<br />
        <i class="fa fa-envelope w3-text-blue" style="width: 30px"> </i> Email:
        se_liyirui@mail.scut.edu.cn<br />
      </div>
    </div>
    <div class="w3-third">
      <h2>Survey</h2>
      <p>
        Give us
        <a href="https://www.wjx.cn/vm/OKVeZqH.aspx#" target="_blank"
          >your feedback </a
        >about the system and the website.
      </p>
      <div class="w3-left">
        <img
          src="/static/surgery/img/survey.jpg"
          class="w3-image"
          style="width: 50%"
        />
      </div>
    </div>
    <div class="w3-third">
      <h2>Quick Link</h2>
      <div style="margin-left: 20px">
        <a href="/surgery/monitor-demo">Demo </a><br />
        <a href="/surgery/tasks">Task </a><br />
        <a href="/easyshare/folder_list">Work Directory </a><br />

        <div>
          <a href="#" class="w3-button w3-grey w3-center w3-margin-top">
            return to top
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>

{% endblock %}
