<div class="w3-top" id="navigation">
  <div class="w3-row w3-padding">
    <div class="w3-col s3">
      <a href="/surgery" class="w3-button w3-block">HOME</a>
    </div>
    <div class="w3-col s3 w3-dropdown-hover">
      <a href="/surgery/monitor-demo" class="w3-button w3-block">OFFLINE</a>
      <div class="w3-dropdown-content" style="overflow: visible">
        <a href="#" class="w3-button w3-block w3-black">Demo</a>
        <a href="#" class="w3-button w3-block w3-black">Task</a>
      </div>
    </div>
    <div class="w3-col s3">
      <a href="#menu" class="w3-button w3-block">LIVE</a>
    </div>
    <div class="w3-col s3">
      <a href="/easyshare/folder_list" class="w3-button w3-block">WORK DIR</a>
    </div>
  </div>
</div>
<style>
  #navigation {
    background-color: black;
    color: white;
  }
</style>
