<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Intraoperative Navigation{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="{% static 'access/css/styles.css' %}" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css"
      rel="stylesheet"
    />
  </head>
  <link
    rel="stylesheet"
    href="{% static 'sharefiles/css/notification.css' %}"
  />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="{% static 'sharefiles/js/notification.js' %}"></script>
  <script src="{% static 'sharefiles/js/context_menu.js' %}"></script>
  <script src="{% static 'sharefiles/js/pagination.js' %}"></script>
  <body>
    <header>
      <!-- Your header content goes here -->
    </header>

    <main>
      {% block content %} {% endblock %}
      <div id="notification-container"></div>
      <div class="w3-container">
        <div class="w3-bar w3-round pagination-links"></div>
      </div>
    </main>

    <footer>
      <!-- Your footer content goes here -->
    </footer>
  </body>
</html>
