{% extends 'base.html' %} {% block content %}
<div class="testbox">
  <h1>Intraoperative Navigation </h1>
      <hr></hr>
  <h2>Login</h2>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    <label id="icon" for="name"><i class="icon-user"></i></label>
    <input
      type="text"
      name="username"
      id="username"
      placeholder="Name"
      required
    />
    <label id="icon" for="name"><i class="icon-shield"></i></label>
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Password"
      required
    />
    <p>click here to <a href="{% url 'register' %}">register</a></p>
    <button type="submit">Sign In</button>
  </form>
  </div>

{% endblock %}
