{% extends 'base.html' %} {% block content %}
    <div class="testbox">
      <h1>Intraoperative Navigation </h1>
      <hr></hr>
      <h2 >Register</h2>
      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label id="icon" for="name"><i class="icon-envelope"></i></label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Name"
          required
        />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input
          type="password"
          name="password1"
          id="password1"
          placeholder="Password"
          required
        />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input
          type="password"
          name="password2"
          id="password2"
          placeholder="Enter Password Again"
          required
        />
        <p>
          Already have an account? <a href="{% url 'login' %}">Login</a> or
        </p>
        <button type="submit">Sign Up</button>
        <p></p>
      </form>
    </div>
    <script>
      showError();
      function showError() {
        console.log("{{ error|escapejs }}");
        var data = JSON.parse("{{ error|escapejs }}");
        //{"username": [{"message": "A user with that username already exists.", "code": "unique"}], "email": [{"message": "User with this Email already exists.", "code": "unique"}]}
        error_msg = "";
        for (var key in data) {
          if (data.hasOwnProperty(key)) {
            var error = data[key];
            var message = error[0].message;
            showNotification("error", key, message);
          }
        }
      } 
    </script>
{% endblock %}
