{% extends 'base.html' %} {% block content %}
    <div class="testbox">
      <h1>Intraoperative Navigation </h1>
      <hr></hr>
      <h2 >Register</h2>

      <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <label id="icon" for="name"><i class="icon-envelope"></i></label>
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          required
        />
        <label id="icon" for="name"><i class="icon-user"></i></label>
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Name"
          required
        />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input
          type="password"
          name="password1"
          id="password1"
          placeholder="Password"
          required
        />
        <label id="icon" for="name"><i class="icon-shield"></i></label>
        <input
          type="password"
          name="password2"
          id="password2"
          placeholder="Enter Password Again"
          required
        />
        <p>
          Already have an account? <a href="{% url 'login' %}">Login</a> or
        </p>
        <button type="submit">Sign Up</button>
        <p></p>
      </form>
    </div>
{% endblock %}
